{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
//  "extends": ["eslint:recommended", "prettier", "airbnb"],
  "extends": [
    "airbnb",
//    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"

  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "rules": {
        "@typescript-eslint/no-unused-vars": "error"
      }
    }
  ],
  "rules": {
    "linebreak-style": 0,
    "no-param-reassign": 0,
//    "prettier/prettier": "error",
    "func-names": ["error", "never"],
    "lines-between-class-members": "off"
  }
}
