{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["plugin:@typescript-eslint/recommended", "airbnb", "prettier"],
//  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": 0,
    "no-param-reassign": 0,
    "prettier/prettier": "error",
    "func-names": ["error", "never"],
    "lines-between-class-members": "off"
//    "exceptAfterSingleLine": true
  }
}
