:root {
  --dodgerblue-color: dodgerblue;
  --main-font-color: white;
  --column-height: 150px;
  --column-width: 20px;
  --column-margin: 15px;
  --form__input-width: 350px;
  --form__button-width: 200px;
  --columns__inner-height: 190px;
  --columns__inner-weight: auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  padding: 30px 0 0 0;
}

.form__input {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: var(--form__input-width);
}

.form__button {
  margin: 20px auto 5px auto;
  width: var(--form__button-width);
}

.columns__inner {
  height: var(--columns__inner-height);
  width: var(--columns__inner-weight);
}

.column {
  position: absolute;
  display: inline-block;
  transition: left 0.6s;
  border: 1px solid yellow;
  background-color: var(--dodgerblue-color);
  height: var(--column-height);
  width: var(--column-width);
  color: var(--main-font-color);
  margin: var(--column-margin);
  text-align: center;
}

.columns-close__inner {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}
